:root{
    --bg-color:/*#FEFFE6#CCCCE4#D4E4EB#E2F2EB*/#ACC7B4  ;
    --typewriterspeed:3500ms;
    --typewriterchar:16;
    --color-neon:/*hsl(317,100%,54%)*/#8f00f1;
    
}

*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: var(--bg-color);
    margin-left: 10%;
    margin-right: 7%; 
    font-family: 'Roboto Mono', monospace;
}
 .navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 30px;
    margin-top: 50px;
    font-size: 26px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
} 
.nav-option{
    margin-right: 3em;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.last-option{
    margin-right: 0;
}
.nav-option:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--color-neon);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav-option:hover:before, .nav-option:focus:before, .nav-option:active:before {
  left: 0;
  right: 0;
}

.nav-option a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color:#2F426C;
}
.nav-option a:hover{
    color:black;
} 
#last-option{
    margin-right: 0;
}
.display-name-container{
    margin-top: clamp(40px,10%,220px);
    font-size: 40px;
    width: max-content;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    color:/*#52307C*/#8f00f1;
    letter-spacing: 5px;
}
.display-name::before,
.display-name::after {
    content: "";
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
}
.display-name::before{
    background-color:  var(--bg-color);
    animation: hide var(--typewriterspeed) steps(var(--typewriterchar)) 1s forwards;
}
.display-name::after{
    width: 0.7em;
    background:black;
    animation: hide var(--typewriterspeed) steps(var(--typewriterchar)) 1s forwards,
    blink 750ms steps(16) infinite;
} 
@keyframes hide{
    to {
        left:100%
    }
}
@keyframes blink {
    to{
        background: transparent;
    }
}
.intro{
    font-family: 'Roboto Mono', monospace;
    font-size: 26px;    
}
.intro p{
    margin-bottom: 10px;
    width: 90%;
}
.intro a{
    font-family: 'Roboto Mono', monospace;
    color: var(--color-neon);
}


.terminal{
    background-color:#263244 ;
    margin-top: 120px;
    height: fit-content;
    width: 100%;
    overflow-wrap: break-word;
    font-family: sans-serif;
}
.terminal-intro-container{
    padding-bottom: 20px;
    padding-right: 10%;
}
.terminal-topbar{
    height: clamp(20px,30px,50px);
    background-color: #DFDEE2;
    padding-top:2%;
}
.first-text{
    background-color: red;
    width: 20px;
    border-radius: 10px; 
    margin-left: 20px;
    display: inline-block;
}
.second-text {
    display: inline-block;
    background-color: rgb(29, 226, 42);
    width: 20px;
    border-radius: 10px; 
    margin-left: 10px;
}
.third-text{
    display: inline-block;
    background-color: yellow;
    width: 20px;
    border-radius: 10px; 
    margin-left: 10px;
}
.intro-terminal{
    color: white;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 22px;
}
.intro-ans{
    color:  #e7d184;
    margin-top: 5px;
    margin-bottom: 20px;
}
.intro-title{
    display: inline-block;
    color: lawngreen;
}
.project-intro {
    margin-top: 5em;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;

}
.underline{
    width: 150px;
    height: 3px;
    margin-top: 35px;
    background-color: var(--color-neon);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#project-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,minmax(200px, 1fr));
    grid-gap: 30px;
}

.projects {
    text-decoration: none;
    color: black;
    border-radius: 8px;
    padding: 20px 20px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.4) 0px 0px 0px 1px;
}
.project-heading{
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 20px;
    margin:20px 0;
    font-family: 'Source Sans Pro', sans-serif;

}
.project-language{
    width: 100%;
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}
.language-option{
    border: 3px solid var(--color-neon);
    width: fit-content;
    font-size: 1em;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color:/* #39FF14*/var(--color-neon);
    border-radius: 0.25em;
    text-shadow: 
   0 0 0.125em hsl(0 0% 100% / 0.4), 
    0 0 0.35em currentColor ;
    box-shadow: inset 0 0 0.5em 0 var(--color-neon)
    ,
    0 0 0.5em 0 var(--color-neon)
     ;
     position: relative;
}
.language-option:hover::before{
    opacity: 1;
}
.language-option:hover::after{
    opacity: 1;
}
.language-option:hover,.language-option:focus{
    background-color: var(--color-neon);
    color:black;
    text-shadow: none;

}
.project-des{
    font-size: 22px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.project-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#about{
    display: flex;
    justify-content: center;
}
.mypic{
    width: 200px;
    height:180px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 15%;
}
.my-introduction{
    margin-left: 10%;
    font-size: 22px; 
    margin-right: 10%;
}
/*use media query for below 1200 width*/
#contact {
    display: flex ;
    flex-direction: column;
    align-items: center;
}
#contact p{
    font-size: 22px;
}
.contact p a{
    font-family: 'Roboto Mono', monospace;
    color: var(--color-neon);

}
.contact-list{
    display: flex;
    justify-content: center;

}
.contact-icons{
    display: inline;
    margin-left: 20px;
}
.email{
    color:var(--color-neon)
}







/*Media Queries */

/*For Extra Small Devices*/
@media screen and (max-width:350px)  {
    /* body{
         margin-left: 10%; 
        margin:0px 0px;
        overflow-x: hidden;
    } */
    main{
        margin-left: 3%;
        margin-right: 3%;
    }
     .navbar-container{
        margin:30px 0px;
        font-size: 18px;
    }
    .nav-option{
        margin-right: 15px;
    } 
    #last-option{
        margin-right: 0;
    }
    .display-name {
        font-size:20px;
    }
    .intro p{
        font-size: 14px;
    }
    .terminal-intro-container span,p{
        font-size: 14px;
    }
    .project-intro p{
        font-size: 20px;
    }

    #project-container{
        display: grid;
        grid-template-columns: 1fr;
        padding-right: 20px;
    }
    .project-image{
        width: 100%;
        height: 200px;
    }
    .project-des{
        font-size: 14px;
    }
    #contact p{
        font-size: 14px;
    }
    .my-introduction{
        font-size: 14px;
    }
    #about{
        flex-direction: column;
    }
}
/*For Modern Mobile Devices*/
@media screen and (min-width:350px) and (max-width:728px) {
    /* body{
        overflow-x: hidden;
        margin:0px 0px;
    } */
    main{
        margin-left: 3%;
        margin-right: 3%;
    }
     .navbar-container{
        display: flex;
        justify-content: center;
        margin:50px 0px;
        width: auto;
    }
    .nav-option{
        font-size: 20px;
        margin-right: 25px;
    } 
    #last-option{
        margin-right: 0;
    }
    .display-name{
        font-size: 22px;
        margin-left: 40px;
    }
    .intro p{
        margin-left: 40px;
    }
    .intro a{
        margin-left: 40px;
    }
    .project-intro p{
        font-size: 30px;
    }
    .terminal{
        width: 100%;
    }
    .intro-terminal{
        width: 100%;
    }
    .project-image{
        height: 200px;
    }
     #project-container{
        display: grid;
        grid-template-columns: 1fr;
        padding-right: 20px;
        width: 90%;
    } 
    .project-des{
        font-size: 16px;
    }
    #about{
        flex-direction: column;
    }
    .mypic{
        margin-left: auto;
        margin-right: auto;
    }
    .my-introduction{
        font-size: 16px;
    }
    #contact p{
        font-size: 16px;
    }
    #contact p a {
        font-size: 16px;
    }
}
