:root{
    --bg-color:#FEFFE6;
    --typewriterspeed:3500ms;
    --typewriterchar:16;
}

*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: var(--bg-color);
    margin-left: 10%;
    margin-right: 7%;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 30px;
    margin-top: 50px;
    font-size: 26px;
}
.nav-option{
    margin-right: /*clamp(40px,5em,10%)*/5em;;
}
.nav-option a{
    text-decoration: none;
    color:#2F426C;
}
.nav-option a:hover{
    color:black
}
.display-name-container{
    margin-top: clamp(40px,10%,220px);
    font-size: 40px;
    width: max-content;
    font-family: 'Open Sans', sans-serif;;
    position: relative;
    letter-spacing: 5px;
}
.display-name::before,
.display-name::after {
    content: "";
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
}
.display-name::before{
    background-color:  var(--bg-color);
    animation: hide var(--typewriterspeed) steps(var(--typewriterchar)) 1s forwards;
}
.display-name::after{
    width: 0.7em;
    background:black;
    animation: hide var(--typewriterspeed) steps(var(--typewriterchar)) 1s forwards,
    blink 750ms steps(16) infinite;
} 
@keyframes hide{
    to {
        left:100%
    }
}
@keyframes blink {
    to{
        background: transparent;
    }
}
.intro{
    font-family: 'Roboto Mono', monospace;
    font-size: 26px;    
}
.intro p{
    margin-bottom: 10px;
    width: 90%;
}


.terminal{
    background-color:#263244 ;
    margin-top: 150px;
    height: fit-content;
    width: 90%;
    overflow-wrap: break-word;
}
.terminal-intro-container{
    padding-bottom: 20px;
    padding-right: 10%;
}
.terminal-topbar{
    height: clamp(20px,30px,50px);
    background-color: #DFDEE2;
    padding-top:2%;
}
.first-text{
    background-color: red;
    width: 20px;
    border-radius: 10px; 
    margin-left: 20px;
    display: inline-block;
}
.second-text {
    display: inline-block;
    background-color: rgb(29, 226, 42);
    width: 20px;
    border-radius: 10px; 
    margin-left: 10px;
}
.third-text{
    display: inline-block;
    background-color: yellow;
    width: 20px;
    border-radius: 10px; 
    margin-left: 10px;
}
.intro-terminal{
    color: white;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 22px;
}
.intro-ans{
    color:  #e7d184;
    margin-top: 5px;
    margin-bottom: 20px;
}
.intro-title{
    display: inline-block;
    color: lawngreen;
}
.project-intro {
    margin-top: 5em;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.underline{
    width: 150px;
    height: 3px;
    margin-top: 35px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#project-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,minmax(200px, 1fr));
    grid-gap: 30px;
}
.project-heading{
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 20px;
    margin:20px 0;
}
.project-language{
    width: 100%;
    margin:60px 0px;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}
.language-option{
    border: 3px solid lawngreen;
    width: fit-content;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.project-des{
    font-size: 22px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.project-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#about{
    display: flex;
    justify-content: center;
}
.mypic{
    width: 200px;
    height:180px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 15%;
}
.my-introduction{
    margin-left: 10%;
    font-size: 22px; 
    margin-right: 10%;
}
/*use media query for below 1200 width*/
#contact {
    display: flex ;
    flex-direction: column;
    align-items: center;
}
#contact p{
    font-size: 22px;

}
.contact-list{
    display: flex;
    justify-content: center;

}
.contact-icons{
    display: inline;
    margin-left: 20px;
}







/*Media Queries */

/*For Extra Small Devices*/
@media screen and (max-width:350px)  {
    body{
        margin-left: 10%;
    }
    .navbar-container{
        margin:30px 0px;
    }
    .nav-option{
        margin-right: 15px;
    }
    .display-name {
        font-size:20px;
    }
    .intro p{
        font-size: 18px;
    }
    .terminal-intro-container span,p{
        font-size: 18px;
    }

    #project-container{
        display: grid;
        grid-template-columns: 1fr;
        padding-right: 20px;
    }
    .project-image{
        width: 100%;
        height: 200px;
    }
    .project-des{
        font-size: 18px;
    }
    #contact p{
        font-size: 18px;
    }
    .my-introduction{
        font-size: 18px;
    }
    #about{
        flex-direction: column;
    }
}
/*For Modern Mobile Devices*/
@media screen and (min-width:350px) and (max-width:728px) {
    body{
        margin-left: 5%;
        margin-right: 5%;
    }
    .navbar-container{
        display: flex;
        justify-content: center;
        margin:50px 20px;
        width: auto;
    }
    .nav-option{
        margin-right: 15%;
        font-size: 25px;
    }
    .display-name{
        font-size: 1em;
    }
    .project-intro p{
        font-size: 20px;
    }
    .terminal{
        width: 90%;
    }
    .intro-terminal{
        width: 100%;
        margin-right: 20px;
    }
    .project-image{
        height: 200px;
    }
     #project-container{
        display: grid;
        grid-template-columns: repeat(2);
        padding-right: 20px;
        width: 90%;
    } 
    .project-des{
        font-size: 20px;
    }
    #about{
        flex-direction: column;
    }
    .mypic{
        margin-left: auto;
        margin-right: auto;
    }
    .my-introduction{
        font-size: 20px;
    }
    #contact p{
        font-size: 20px;
    }
    #contact p a {
        font-size: 20px;
    }
}
