:root{
        --color-neon:
                /*hsl(317,100%,54%)*/
                #8f00f1;
}
.nav-option a{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.blog-content,.read-next{
    max-width: 800px;
    margin:auto;
    word-wrap: break-word;
    padding:10px;
    font-family:'Lusitana', serif;
    font-size: 20px;
}

.cover-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 5px;
}
.content p{
    line-height: 28px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
.quote{
font-size: 20px;
}
.content{
    margin-bottom: 15vh;
}
.blog-intro h1{
    font-family: 'Source Sans Pro', sans-serif;;
}
.blog-intro p{
    font-family: 'Source Sans Pro', sans-serif;
}
.blog-intro p:last-child{
    color: grey;
    font-weight: 400;
    font-size: 0.8em;
}
.blog-intro span{
    font-size: 1em;
    color:black;
}
.sidekick {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 29px;
  margin-left: -1em;
  line-height: 35px;
  font-weight: 100;
}


.pyramid{
    display: flex;
    width: 80% ;
    height: auto

}
.pyramid-list li{
    margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
    .sidekick{
        font-size: 20px;
        line-height: 22px;
        font-family: 'Source Sans Pro', sans-serif;;
        font-weight: 600;
    }
}
@media screen and (max-width:1080px){
    .content p{
        font-size: 18px;
    }
    .quote{
        font-size: 18px;
    }
}
.quote{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 10px;
    font-size: 24px;
}
.read-more {
    border: 3px solid var(--color-neon);
    width: fit-content;
    font-size: 1em;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color:
        /* #39FF14*/
        var(--color-neon);
    border-radius: 0.25em;
    text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.4),
        0 0 0.35em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--color-neon),
        0 0 0.5em 0 var(--color-neon);
    position: relative;
}

.read-more:hover::before {
    opacity: 1;
}

.read-more:hover::after {
    opacity: 1;
}

.read-more:hover,
.read-more:focus {
    background-color: var(--color-neon);
    color: black;
    text-shadow: none;

}