:root{
        --color-neon:
                /*hsl(317,100%,54%)*/
                #8f00f1;
}
body{
    background-color: #F6F9FC;
    font-family: 'Lusitana', serif;
    letter-spacing: 0.03em;
    margin-left: 10%;
    margin-right: 7%;
}

/* @font-face {
    font-family: avenir;
    src: url(/fonts/AvenirLTStd-Book.otf);
    font-display: swap;
}

@font-face {
    font-family: tiempos;
    src: url(/fonts/TiemposHeadline-Regular.otf);
    font-display: swap;
} */

.blog-content,.read-next{
    max-width: 800px;
    margin:auto;
    word-wrap: break-word;
    padding:10px;
    font-size: 20px;
}
b{
    font-family: tiempos, sans-serif;
}

.cover-img{
    width: 100%;
    height: auto;
    max-height: 430px;
    object-fit: cover;
    margin-bottom: 5px;
}
.content p{
    line-height: 28px;
    font-size: 20px;
    color:#171717;
    margin-left: auto;
    margin-right: auto;
}
.quote{
font-size: 20px;
}
.content{
    margin-bottom: 20px;
}
h1{
    font-family: tiempos, sans-serif;
    color:#333;
}
.blog-intro p{
    color:#333;

}
.blog-intro p:last-child{
    color: #333;
    font-weight: 400;
    font-size: 0.8em;
}
.blog-intro span{
    font-size: 1em;
    color:black;
}
.sidekick {
  position: relative;
  padding-left: 1em;
  border-left: 0.2em solid black;
  font-family: tiempos, sans-serif;
  font-size: 29px;
  margin-left: -1em;
  line-height: 35px;
  font-weight: 100;
}


.pyramid{
    display: flex;
    width: 80% ;
    height: auto

}
.pyramid-list li{
    margin-bottom: 10px;
}

.quote{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 10px;
    font-size: 24px;
}
.read-more {
    border: 3px solid var(--color-neon);
    width: fit-content;
    font-size: 1em;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color:
        /* #39FF14*/
        var(--color-neon);
    border-radius: 0.25em;
    text-shadow:
        0 0 0.125em hsl(0 0% 100% / 0.4),
        0 0 0.35em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--color-neon),
        0 0 0.5em 0 var(--color-neon);
    position: relative;
}

.read-more:hover::before {
    opacity: 1;
}

.read-more:hover::after {
    opacity: 1;
}

.read-more:hover,
.read-more:focus {
    background-color: var(--color-neon);
    color: black;
    text-shadow: none;
}

#mce-EMAIL{
    width:400px;
    padding:15px 20px;
    padding-right: 25px;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    font-size: 18px;
    font-family: avenir, sans-serif;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
}
#mce-EMAIL:focus{
    outline: none;
}
h2{
    font-family: tiempos, sans-serif;
    font-size: 22px;
}
#mc-embedded-subscribe{
    position: absolute;
    left:calc(40% + 211px);
    padding:15px 30px;
    width:fit-content;
    background-color: #8f00f1;
    font-size: 18px;
    font-family: avenir, sans-serif;
    font-weight: 600;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#mc-embedded-subscribe:hover{
    color:white;
}
/* .newsletter{
    margin-top: -2.5em;
} */
@media screen and (max-width:380px) {
    h1{
        font-size: 24px;
    }
     #mce-EMAIL{
        width:180px;
        position: absolute;
        font-size: 16px;
        padding:12px 8px;
        left:40%;
        
    } 
    h2{
        font-size: 18px;
    }
     #mc-embedded-subscribe{
        position: absolute;
        left:calc(30% + 99px);
        width:fit-content;
        padding: 12px 10px;
        font-size: 16px;
    } 
}
@media screen and (min-width:380px) and (max-width:856px) {
     #mce-EMAIL{
        width:220px;
        left:40%;
        font-size:18px;
        padding:15px 10px;
    } 
    h1{
        font-size:26px ;
    }
    h2{
        font-size: 20px;
    }
     #mc-embedded-subscribe{
        left: calc(40% + 121px);
        width:fit-content;
        padding:15px 12px;
        font-size: 18px;
    } 

}

@media screen and (max-width: 480px) {
    .sidekick{
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
    }
    body{
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media screen and (max-width:1080px){
    .content p{
        font-size: 18px;
    }
    .quote{
        font-size: 18px;
    }
}


