body{
    background-image: radial-gradient( circle farthest-corner at 0.3% 0.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
    margin-left: 10%;
    margin-right: 7%;
    font-family: avenir, sans-serif;
}
main{
    font-family: 'Cardo', serif;;
    display: grid;
    place-items: center;
    height: 100vh;
}
/* @font-face {
    font-family: avenir;
    src: url(/fonts/AvenirLTStd-Book.otf);
    font-display: swap;
}

@font-face {
    font-family: tiempos;
    src: url(/fonts/TiemposHeadline-Regular.otf);
    font-display: swap;
} */
.nav-option a {
    font-family: 'Oswald',sans-serif;;
    text-transform: uppercase;
}

 /* .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

.nav-option {
    margin-right:clamp(15px,4rem,5rem);
    font-size: clamp(14px,20px,30px);
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;

}

.nav-option:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--color-neon);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.nav-option:hover:before,
.nav-option:focus:before,
.nav-option:active:before {
    left: 0;
    right: 0;
}

.nav-option a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    color: #2F426C;
}

.nav-option a:hover {
    color: black;
}  */
#mce-EMAIL{
    width:400px;
    padding:15px 10px;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    font-size: 18px;
    font-family: avenir, sans-serif;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
}
#mce-EMAIL:focus{
    outline: none;
}
h2{
    font-family: 'tiempos', serif;
}
#mc-embedded-subscribe{
    position: absolute;
    left:calc(40% + 211px);
    padding:15px 30px;
    width:fit-content;
    background-color: #8f00f1;
    font-size: 18px;
    font-family: avenir, sans-serif;
    font-weight: 600;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#mc-embedded-subscribe:hover{
    color:white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 4rem;
    gap: 2rem;
    
}
.container a{
    text-decoration: none;
    color:black;
}

@media screen and (max-width:380px) {
    #mce-EMAIL{
        width:180px;
        position: absolute;
        font-size: 16px;
        padding:12px 8px;
        left:40%;
        
    }
    #mc-embedded-subscribe{
        position: absolute;
        left:calc(30% + 99px);
        width:fit-content;
        padding: 12px 10px;
        font-size: 16px;
    }
}
@media screen and (min-width:380px) and (max-width:856px) {
    #mce-EMAIL{
        width:280px;
        left:40%;
        font-size:18px;
        padding:15px 10px;
    }
    #mc-embedded-subscribe{
        left: calc(40% + 151px);
        width:fit-content;
        padding:15px 12px;
        font-size: 18px;
    }

}
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: 30vh;
}
.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1); */
    border-radius: 0.4em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}
.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: 0 .75em;
    border-radius: 1em;
    font-size: .75rem;
    border: 2px solid #8F00F1;
    display:inline;
    background-color: #8F00F1;
    color:#fafafa;
}

.content{
    min-height: 175px;
}

.content h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin:20px 0;
    font-family: tiempos, serif;

}
.content p{
    margin-top:5px;
} 
@media screen and (max-width:380px) {
    .card{
        width: 80vw;
    }
}
@media screen and (min-width:380px) and (max-width:856px) {
    img{
        width: 100%;
        object-fit: cover;
        height: 30vh;
    }
    .card{
        width: 80vw;
    }
}