body{
     background-image: radial-gradient( circle farthest-corner at 0.3% 0.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% ); 
    /* background-image: linear-gradient(to right rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% ); */
    margin-left: 10%;
    margin-right: 7%;
    font-family: avenir, sans-serif;
    height: fit-content;
}
main{
    /* font-family: 'Cardo', serif;; */
    display: grid;
    place-items: center;
    /* height: 100vh; */
}
/* @font-face {
    font-family: avenir;
    src: url(/fonts/AvenirLTStd-Book.otf);
    font-display: swap;
}

@font-face {
    font-family: tiempos;
    src: url(/fonts/TiemposHeadline-Regular.otf);
    font-display: swap;
} */

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: 27vh;
}
.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1); */
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.tag {
    align-self: flex-start;
    padding: 0.2em .75em;
    border-radius: 1em;
    font-size: .75rem;
    border: 2px solid #8F00F1;
    display:inline;
    background-color: #8F00F1;
    color:#fafafa;
    margin-right: 15px;
}

.content{
    height: 175px;
}

.content h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin:20px 0;
    font-family: tiempos, serif;

}
.card:hover{
    -moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
box-shadow:
1px 1px  rgba(182,199,226,0.65),
2px 2px  rgba(182,199,226,0.65),
3px 3px  rgba(182,199,226,0.65),
4px 4px  rgba(182,199,226,0.65),
5px 5px  rgba(182,199,226,0.65),
6px 6px  rgba(182,199,226,0.65);
-webkit-transform: translateX(-3px);
transform: translate(-5px, -8px);
transition: .5s ease;
}
.content p{
    margin-top:5px;
    font-size: 20px ;
     /* white-space: nowrap;  */
    overflow: hidden;
    text-overflow: ellipsis;


} 
.nav-option a {
    font-family: 'Oswald',sans-serif;;
    text-transform: uppercase;
}
#mce-EMAIL{
    width:400px;
    padding:15px 2px;
    padding-right: 25px;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    font-size: 18px;
    font-family: avenir, sans-serif;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px;
}
#mce-EMAIL:focus{
    outline: none;
}
h2{
    font-family: 'tiempos', serif;
}
#mc-embedded-subscribe{
    position: absolute;
    left:calc(40% + 211px);
    padding:15px 30px;
    width:fit-content;
    background-color: #8f00f1;
    font-size: 18px;
    font-family: avenir, sans-serif;
    font-weight: 600;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#mc-embedded-subscribe:hover{
    color:white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 4rem;
    gap: 2rem;
    
}
.container a{
    text-decoration: none;
    color:black;
}
.card {
    border-radius: 20px;
}

@media screen and (max-width:380px) {
    #mce-EMAIL{
        width:180px;
        position: absolute;
        font-size: 16px;
        padding:12px 15px;
        left:40%;
        
    }
    #mc-embedded-subscribe{
        position: absolute;
        left:calc(40% + 99px);
        width:fit-content;
        padding: 12px 10px;
        font-size: 16px;
    }
}
@media screen and (min-width:380px) and (max-width:856px) {
    #mce-EMAIL{
        width:280px;
        left:40%;
        font-size:18px;
        padding:15px 20px;
        padding-right: 60px;
    }
    #mc-embedded-subscribe{
        left: calc(40% + 151px);
        width:fit-content;
        padding:15px 12px;
        font-size: 18px;
    }

}
@media screen and (max-width:380px) {
    body{
        margin-left: 3%;
        margin-right: 0%;
    }
    img{
        height: 25vh;
    }
    .card{
        width: 80vw;
    }
    .content{
        height: 140px;
    }
    .content p{
        font-size: 16px;
    }
    .content h4 {
        font-size: 1.2em;
    }
}
@media screen and (min-width:380px) and (max-width:856px) {
    body{
        margin-left: 3%;
        margin-right:0% ;
    } 
    img{
        width: 100%;
        object-fit: cover;
        height: 25vh;
    }
    .content{
        height: 140px;
    }
    .content h4 {
        font-size: 1.3em;
    }
    .card{
        width: 80vw;
    }
    .content p{
        font-size: 18px;
    }
}