:root{
    --bg-color:/*#FEFFE6#CCCCE4#D4E4EB#E2F2EB*/#BDD4E7;
    --typewriterspeed:2000ms;
    --typewriterchar:16;
    --color-neon:/*hsl(317,100%,54%)*/#ff008e;
    font-family: 'Manrope', sans-serif;
    --font-head:tiempos,'Oswald', sans-serif;
    --text-heading:#333333;
    --text:#222; 
    --linar-gradient:linear-gradient(to right,#EAE5C9,#6CC6CB);
}
*{
    margin:0px;
    padding: 0px;
}
@font-face {
    font-family: avenir;
    src: url(/fonts/AvenirLTStd-Book.otf);
    font-display: swap;
}
@font-face {
    font-family: tiempos;
    src: url(/fonts/TiemposHeadline-Regular.otf);
    font-display: swap;
}
body{
    /*background-color: var(--bg-color);*/
    /* background-color: #E4E8F3; */
     background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% ); 
    margin-left: 10%;
    margin-right: 7%; 
    font-family: var(--font-content);
    color:var(--text)
}


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; 
  /* Change to speed up or slow down */
  color:"yellow";
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}



 .greeting {
    margin-top: clamp(40px,7%,220px);
    margin-left: 15px ;
    font-weight: 600;
    /* margin-bottom: 0.8em; */
    font-family: avenir;
    letter-spacing: 0.2em;
    font-size: 35px;
} 
.display-name-container{
    /* margin-top: clamp(40px,10%,220px); */
    font-size: 30px;
    width: max-content;
    font-family: 'Manrope', sans-serif;

    text-transform: uppercase;
    position: relative;
    color:var(--color-neon);
    letter-spacing: 5px;
}
.display-name::before,
.display-name::after {
    content: "";
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
}
.display-name::before{
    background-color: /*var(--bg-color)*/#E5F0F5;
    animation: hide var(--typewriterspeed) steps(var(--typewriterchar)) 1s forwards;
}
.display-name::after{
    width: 0.7em;
    background:black;
    animation: hide var(--typewriterspeed) steps(var(--typewriterchar)) 1s forwards,
    blink 750ms steps(16) infinite;
} 
@keyframes hide{
    to {
        left:100%
    }
}
@keyframes blink {
    to{
        background: transparent;
    }
}
.intro{
    font-family: 'Manrope', sans-serif;

    font-size: 26px;    
    margin-left: 15px;
}
.intro p{
    margin-bottom: 10px;
    width: 90%;
}
.intro a{
    color: var(--color-neon);
}
.intro span {
    color:var(--color-neon)
}

.terminal{
    background-color:/*#263244*/#5A5D7A ;
    margin-top: 50px;
    height: fit-content;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
    font-family: var(--font-content)
}
.terminal-intro-container{
    padding-bottom: 20px;
    padding-right: 5%;
}
.terminal-topbar{
    height: clamp(20px,30px,50px);
    background-color: #D5D5D5;
    padding-top:2%;
}
.first-text{
    background-color: red;
    width: 20px;
    border-radius: 10px; 
    margin-left: 20px;
    display: inline-block;
}
.second-text {
    display: inline-block;
    background-color: rgb(29, 226, 42);
    width: 20px;
    border-radius: 10px; 
    margin-left: 10px;
}
.third-text{
    display: inline-block;
    background-color: yellow;
    width: 20px;
    border-radius: 10px; 
    margin-left: 10px;
}
.intro-terminal{
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
}
.intro-terminal:last-child p{
margin-top: 10px;
}
.intro-ans{
    color:  #e7d184;
    margin-top: 5px;
    margin-bottom: 20px;
    text-decoration: none;
    margin-right: 10px;
    margin-top:4px;
}
.intro-title{
    display: inline-block;
    color: lawngreen;
}
.project-intro {
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: var(--font-head);
    text-transform: uppercase;
    color:var(--text-heading)

}
.underline{
    width: 150px;
    height: 3px;
    margin-top: 35px;
    background-color: var(--color-neon);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#project-container{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(2,minmax(200px, 1fr));
    grid-gap: 30px;
}

.projects {
    text-decoration: none;
    color: black;
    border-radius: 18px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.4) 0px 0px 0px 1px;
}
.card__body{
    padding: 0px 10px;
}
.project-heading{
    display: flex;
    justify-content: center;
    font-size: 32px;
<<<<<<< HEAD
    font-weight: 700;
=======
    font-weight:700;
>>>>>>> origin
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: var(--font-head);
    color:var(--text-heading);
    text-transform: uppercase;
}
.project-language{
    width: 100%;
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    padding:10px 10px;
}

.projects:hover{
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
box-shadow:
1px 1px  rgba(182,199,226,0.65),
2px 2px  rgba(182,199,226,0.65),
3px 3px  rgba(182,199,226,0.65),
4px 4px  rgba(182,199,226,0.65),
5px 5px  rgba(182,199,226,0.65),
6px 6px  rgba(182,199,226,0.65);
-webkit-transform: translateX(-3px);
transform: translate(-5px,-8px);
transition: .5s ease;
}

.language-option{
    border: 3px solid var(--color-neon);
    width: fit-content;
    font-size: 20px;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color:/* #39FF14*/var(--color-neon);
<<<<<<< HEAD
    border-radius: 0.8em;
=======
    border-radius: 0.75em;
>>>>>>> origin
    text-shadow: 
   0 0 0.1em hsl(0 0% 100% / 0.4), 
    0 0 0.1em currentColor ;
    box-shadow: inset 0 0 0.1em 0 var(--color-neon)
    ,
    0 0 0.1em 0 var(--color-neon)
     ;
     position: relative;
}
.language-option:hover::before{
    opacity: 1;
}
.language-option:hover::after{
    opacity: 1;
}
.language-option:hover,.language-option:focus{
    background-color: var(--color-neon);
    color:black;
    text-shadow: none;

}
.project-des{
    font-size: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.project-image{
    width: 100%;
    border-radius: 18px 18px 0px 0px;
    height: clamp(200px,15rem,300px);
    object-fit: cover;
}
#about{
    display: flex;
    justify-content: center;
}
.mypic{
    width: 175px;
    height:175px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 15%;
}
.my-introduction{
    margin-left: 5%;
    font-size: 20px; 
    margin-right: 5%;
}
/*use media query for below 1200 width*/
#contact {
    display: flex ;
    flex-direction: column;
    align-items: center;
}
#contact p{
    font-size: 20px;
}
.contact p a{
    color: var(--color-neon);

}
.contact-list{
    display: flex;
    justify-content: center;

}
.contact-icons{
    display: inline;
    margin-left: 20px;
}
.email{
    color:var(--color-neon)
}






/*Media Queries */

/*For Extra Small Devices*/
@media screen and (max-width:350px)  {
    body{
        margin-left: 2%; 
        margin-right: 1%;
    }
    /* main{
        margin-left: 3%;
        margin-right: 3%;
    } */
     .navbar-container{
        margin:10px 0px;
    }
     .greeting{
        font-size: 20px;

    } 

    .display-name-container{
        letter-spacing: 2px;
    }
    /* .logo{
        display: none;
    } */
    #last-option{
        margin-right: 0;
    }
    .display-name {
        font-size:20px;
    }
    .intro {
        font-size: 18px;
    }
    .terminal{
        margin-top: 20px;
    }
    .terminal-intro-container span,p{
        
        font-size: 14px;
    }
    .project-intro{
        margin-top: 40px;
    }
    .project-intro p{
        font-size: 20px;
    }
    .project-heading{
        font-size: 18px;
        font-weight: 700;
    }
    .language-option{
        font-size: 12px;
    }

    #project-container{
        display: grid;
        grid-template-columns: 1fr;
        padding-right: 20px;
    }
    .project-image{
        width: 100%;
        height: 200px;
    }
    .project-des{
        font-size: 14px;
    }
    #contact p{
        font-size: 14px;
    }
    .my-introduction{
        font-size: 14px;
    }
    #about{
        flex-direction: column;
    }
}
/*For Modern Mobile Devices*/
@media screen and (min-width:350px) and (max-width:790px) {
     body{
        margin-left: 3%;
        margin-right: 2%;
        overflow-x: hidden;
    }
    main{
        margin-left: 3%;
        margin-right: 3%;
        /* font-size: 16px; */
    }
     .navbar-container{
        display: flex;
        justify-content: center;
        margin:15px 0px;
        width: auto;
    }
    .greeting{
        font-size: 20px;
        
    } 
    .display-name{
        font-size: 22px;
    }
    .display-name-container{
        letter-spacing: 3px;
    }
    /* .logo{
        display: none;
    } */

    .display-name::before{
        background-color: /*var(--bg-color)*/#ECF6F8;
        animation: hide var(--typewriterspeed) steps(var(--typewriterchar)) 1s forwards;
}
    .intro{
        font-size: 18px;
    }
    .language-option{
        font-size: 14px;
    }
    /* .nav-option{
        margin-right: 10px;
    } 
    .nav-option a{
        font-size: 0.8em;
        font-family:var(--font-head) ;
    }
    
    #last-option{
        margin-right: 0;
    } */
    .project-heading{
        font-size: 20px;
        font-weight: 700;
    }
    /* .intro p{
        margin-left: 40px;
    } */
    .project-intro p{
        font-size: 30px;
    }
    .terminal{
        width: 100%;
        margin-top: 40px;

    }
    .intro-terminal{
        width: 100%;
        font-size: 16px;
    }
    .project-image{
        height: clamp(200px,14rem,300px);
    }
     #project-container{
        display: grid;
        grid-template-columns: 1fr;
        padding-right: 20px;
        width: 90%;
    } 
    .project-des{
        font-size: 16px;
    }
    #about{
        flex-direction: column;
    }
    .mypic{
        margin-left: auto;
        margin-right: auto;
    }
    .my-introduction{
        font-size: 16px;
    }
    #contact p{
        font-size: 16px;
    }
    #contact p a {
        font-size: 16px;
    }
}
